*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.contenedor{
    display: flex;
    background-color: skyblue;
    width: 100vh;
    height: 100vh;
    justify-content:first baseline
   
}


.marco{
    background-color: rgb(86, 88, 88);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
}

